<h1>Index File</h1>

<a href="/demo/hello">Hello Page 1</a><br>

<%= link_to('Hello page 2', {action: 'hello'})%><br>

<%= link_to('Hello with paramters', {action: 'hello', :page => 5, :id => 20})%><br>