<h1>Subjects#new</h1>
<p>Find me in app/views/subjects/new.html.erb</p>
<%= form_for(@subject) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <%= f.submit("Create section") %>

<% end %>