<!DOCTYPE html>
    <html>
    <head>
        <title>Simple CMS: <%= @page_title || "Admin Area" %> </title>
        <%= stylesheet_link_tag('admin', :media => 'all') %>
    </head>
    <body>

    <% if !flash[:notice].blank? %>
        <div class>
            <%= flash[:notice] %>
        </div>
    <% end %>

    <!-- Before yield -->
    <div id="content">
        <%= yield %>
    </div>
    <!-- After yield -->

    <div id="footer">

    </div>

    </body>
</html>
